#contact {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contactTitle {
    font-size: 3rem;
}

.contactDescription {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin: 0 auto;
    max-width: 80rem;
    background: #9A7B4F;
}

.link {
    object-fit: cover;
    height: 6.5rem;
    width: 6.5rem;
    margin: 0.25rem 1.75rem;
}

@media screen and (max-width: 640px) {
    .contactTitle {
        font-size: 2.75rem;
    }

    .link {
        height: 5rem;
        width: 5rem;
    }
}

@media screen and (max-width: 575px) {
    .links {
        max-width: 20rem;
    }
}

@media screen and (max-width: 290px) {
    .links {
        max-width: 10rem;
    }
}