#projects {
    overflow: hidden;
    width: 100vw;
    max-width: 68rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    letter-spacing: 1px;
}

.projectsTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 7rem;
    margin-bottom: 1.5rem;
    align-self: center;
}

.projectName {
    display: inline;
    float: left;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    color: #9A7B4F;
    margin-left: .5rem;
}

.projectLanguage {
    display: inline;
    float: right;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: .75rem;
}

.projectDescription {
    list-style-type: square;
    font-weight: 300;
    font-size: 1rem;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.imageDescription {
    font-weight: 300;
    font-size: 1rem;
    display: flex;
    height: 40vh;
    margin: auto;
    margin-left: 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.projectImg {
    object-fit: contain;
    height: 40vh;
    margin-right: 0.25rem;
}

.memoryVid {
    object-fit: contain;
    height: 40vh;
    margin-right: 0.25rem;
}

@media screen and (max-width: 1400px) {
    .imageDescription {
        height: 35vh;
    }
    .projectImg {
        height: 35vh;
    }
    .memoryVid {
        height: 35vh;
    }
}

@media screen and (max-width: 1100px) {
    .imageDescription {
        height: 25vh;
    }
    .projectImg {
        height: 25vh;
    }
    .memoryVid {
        height: 25vh;
    }
}

@media screen and (max-width: 600px) {
    .projectsTitle {
        font-size: 2.5rem;
    }
    .projectName {
        font-size: 1.4rem;
    }
    .projectLanguage {
        font-size: 1.4rem;
    }
    .projectDescription {
        font-size: .8rem;
    }
    .imageDescription{
        margin-left: 4rem;
        font-size: .8rem;
    }
    .memoryVid {
        height: 20vh;
    }
}

@media screen and (max-width: 500px) {
    .projectsTitle {
        font-size: 2rem;
    }
    .projectName {
        font-size: 1.2rem;
    }
    .projectLanguage {
        font-size: 1.2rem;
    }
    .projectDescription {
        font-size: .7rem;
        margin-left: 2rem;
    }
    .imageDescription{
        font-size: .6rem;
        margin-left: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .projectsTitle {
        font-size: 1.8rem;
    }
    .projectName {
        font-size: 1rem;
    }
    .projectLanguage {
        font-size: 1rem;
    }
    .projectDescription {
        font-size: .7rem;
    }
    .imageDescription{
        font-size: .5rem;
        margin-left: 2.5rem;
    }
}